.connect {
  display: grid;
  grid-template:
    [nav-margin] "nav nav nav nav" 80px [nav-end]
    [content-margin] ". graph stream ." auto [content-end]
    [bottom-margin] ". . . ." 20px [bottom-end]
    / [margin-left] 15px [graph] 62% [stream] 36% [margin-right] 15px;
  background-color: rgb(255, 255, 249);
}

.graph {
  grid-area: graph;
	width: 100%;
  height: 100%;
	vertical-align: middle;
	overflow: hidden;
}

.stream {
  grid-area: stream;
  overflow: scroll;
  max-height: 41em;
  background-color: rgba(252, 249, 239, 0.53);
}

.card {
  margin: 15px;
}
