.box_w100per_h70px {
  width: 100%;
  height: 70px;
  border: 1px dotted red;
  display: inline-block
}

.PatrickStatusBar {
  width: 100%;
  height: 100%;

  display: inline-block
}

.box_94per_3perMg {
  width: 94%;
  height: 50px;
  margin-top: 100px;
  margin-left: 3%;
  margin-bottom: 1%;
  margin-right: 3%;
  display: inline-block
}

.box_100per_10px {
  width: 100%;
  height: 10px;
  border: 1px dotted red;
  display: inline-block
}

.box_for_addApplicationButtAndOther {
  width: 100%;
  /* border: 1px dotted red;  */
  display: flex
}

.box_for_addApplicationButt {
  width: 30%;
  border: 1px dotted red;
  display: inline-block
}

.border {
  border: 1px dotted blue;
  background: blue;
}

.DrawerAndApplicationTable {
  margin-left: 3%;
  margin-right: 3%;
}

.testBox00 {
  width: 5%;
  height: 100%;
  border: 1px dotted green;
  display: inline-block;
}

.testBox01 {
  width: 90%;
  height: 100%;
  border: 1px dotted red;
  display: inline-block;
}

.testBox02 {
  width: 5%;
  height: 100%;
  border: 1px dotted blue;
  display: inline-block;
}

.practice {
  color: rgba(255, 193, 7, .5);
}


.testBox03 {
  background-color: blue;
  border: 2px dotted black;
}

.mouseCurser {
  cursor: pointer;
}